{% extends '../base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Orelega One">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">

<style>
.menu {
  text-transform: capitalize;
  padding: 5px;
  padding-top: 10px;
  background-color: #fff;
  wdith: 100%;
}

.menu p {
  width:100%;
  color: grey;
  padding-left:10px;
  font-family: Orelega One;
  transition: 0.3s;
}
.menu p:hover {
  
  cursor: pointer;
  margin-left:5px;
  color: #0000c8;
}

.cart {
  font-family: Orelega One;
  background-color: #fff;
  display: block;
  width: 100%;
  margin-top:20px;
}

.item:hover {
  cursor: pointer;
}
.cart div { 

  margin: 20px;
}
.cart div p {

  display: block;
  margin:20px;
}
.col {
  margin: 0px;
}
basket {
  width:100%;
  display: block;
}
.icon {

  color: grey;
  font-size: 200%;
}
.update-button {

  width:20px;
  height: 20px;
  text-align: center;
}

td {
  text-transform: capitalize;
}
</style>
{% endblock style %}

{% block title %}
| {{ seller.name }}
{% endblock title %}

{% block body %}


      <script src="https://unpkg.com/vue/dist/vue.min.js"></script>
      <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script>
    // when life is settled, load up the fun stuff
    document.addEventListener('DOMContentLoaded', function () {
      
      new Vue({
        delimiters: ['${', '}'],
        el: '#app',
        // define data - initial display text
        data: {
          items: null,
          basket: null,
          total: 0,
          current_type: null,
          loading: false,
        },
        computed:{
            total_price(){
              
              sum = 0;
              for(item in this.basket.data){
                sum += parseFloat(this.basket.data[item].price) * parseFloat(this.basket.data[item].qty);
              }
              this.total = sum.toFixed(2);
            },
        },
        methods: {
            get_items(id){
                if(id === this.current_type){
                  return
                }
                axios.get("seller/{{ seller.slug }}/type/"+id).then(response => {this.items = response.data; this.current_type = id;})
            },
            get_image(image){
              
              return "{% get_media_prefix %}" + image
            },
            order(type, name, qty){

                  if(this.basket.data){
                    if(Object.keys(this.basket.data).includes(name)){
                      return;
                    }
                  }
                  this.loading = true;
                  let data = new FormData(); // 2
                  data.append("item_type", type);  
                  data.append("item_name", name);
                  data.append("qty", qty);
                  data.append("action", 'post');
                  data.append("csrfmiddlewaretoken", '{{csrf_token}}'); // 3

                  axios.post("{%url 'basket:basket_add' %}", data) // 4
                  .then(res => {this.basket = res.data; this.total_price()}) // 5
                  .catch(errors => console.log(errors)) // 6
                  .finally(() => this.loading=false)
            },
            update(name, qty){
                  let data = new FormData(); // 2
                  this.loading = true;
                  data.append("item_name", name);
                  data.append("qty", qty);
                  data.append("action", 'post');
                  data.append("csrfmiddlewaretoken", '{{csrf_token}}'); // 3

                  axios.post("{%url 'basket:basket_update' %}", data) // 4
                  .then(res => {this.basket = res.data; this.total_price()}) // 5
                  .catch(errors => console.log(errors)) // 6
                  .finally(() => this.loading = false)
            },
            get_basket(){
                axios.get("{%url 'basket:get_basket'  seller.slug  %}").then(response => {this.basket = response.data; this.total = this.total_price();})
              
            },

        },
        beforeMount() {
          this.get_items({{ seller.item_types.all.first.id }});
          this.get_basket();
        }
      })
    })
  </script>
<div id="app" style="margin:5%;">
  <div class="row" style="background-color:#fff; padding:5%; border-radius:10px;">
    <div class="col-md-2 col-lg-3">        
          <div class="shadow-box menu">
        {% for type in seller.item_types.all %} 

            <p  id="{{ type.id }}" @click='get_items({{ type.id }})'> » {{ type.name }} </p>


        {% endfor %}
          </div>
                  <div style="width:100%; padding-top:10px; padding-bottom:10px; display:block;" class="shadow-box cart">
                  <p style='width:100%; text-align:center; margin-top:20px;'><i class="fas fa-shopping-basket icon"></i></p>
                      <div class="spinner-border spinner-border-sm  text-info" style="position:absolute;" v-show="loading" role="status"></div>
                      
                      <table class="table" style="table-layout: fixed;">
                            <tbody style="width:100%">
                              <tr v-for="item,key in basket.data" style="width:100%; vertical-align: middle;">
                                <td style="vertical-align: middle; width:50%;">${ key }</td>
                                <td style="vertical-align: middle;">${ item.qty }</td>
                                <td style="vertical-align: middle; width:44%; ">
                                <div class="btn-group btn-group-sm">
                                <button @click="update(key, 1)" class="btn btn-info"  type="button"> + </button>
                                <button @click="update(key, -1)" class="btn btn-danger"  type="button"> - </button>
                                </div>
                                </td>

                              </tr>
                              <tr>
                                <td style="vertical-align: middle">Total</td>
                                <td style="vertical-align: middle">$${ total }</td>
                                <td style="vertical-align: middle"></td>
                              </tr>
                              <tr>
                              <td style="vertical-align: middle"><a href="{%url 'order:add-order' %}"><button class="btn btn-info"  type="button"> Order </button></a></td>
                                <td style="vertical-align: middle"></td>
                                <td style="vertical-align: middle"></td>

                              </tr>
                            </tbody>
                          </table>
          </div>
        </div>
    <div class="col-md-6 col-lg-8">
          <div class="team-boxed">
        <div class="container">
            <div class="row people">
                    <div class="col-md-6 col-lg-4 item"  v-for='item in items'>
                        <a @click="order(item.fields.item_type, item.fields.name, 1)" style='text-decoration:inherit; color:inherit; alignment:inherit;'>
                            <div class="box shadow-box"><img style='border-radius:3px' :src='get_image(item.fields.image)'>
                                <h3 class="name">${item.fields.name}</h3>
                                <p class="title">$${item.fields.price}</p>
                                <p class="description"><button @click="update(key, 1)" class="btn btn-info"  type="button"> Order </button></p>
                            </div>
                        </a>
                    </div>
            </div>
        </div>
    </div>
    </div>

  </div>
</div>

{% endblock body %}

